<!--Footer-->
<footer class="footer">
    <div class="container2">
        <div class="row">
            <div class="col text-center">
                Copyright &copy; 2018 | Tech Cloud | <img id="cloud2" src="assets/images/c5.png">
            </div>
        </div>
    </div>
</footer>