<!--Layout Customized HTML-->
<div class="jumbotron">
  <h1 class="display-4 text-center"><img src="assets/images/Logomakr3.png">Tech Cloud</h1>
  	<p class="lead- text-center">Latest Tech News & Industry Updates</p>
  <hr class="my-4">
</div>

	<br>

<div class="container">
	<div class="row">
	  <div id="wrapper">
      <h1 id="title">Articles</h1>
      <br>

      <div id="comments">
        {{#each articles}}
        <h2><a href={{link}} id="art">{{title}}</a></h2>
        <div>{{note}}</div>
        {{/each}}
      </div>
    </div>
	</div>      
</div>